.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    text-align: center;
}
.center img{
    width: 300px;
    height: 300px;
}